{% extends "admin/basetable.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Marca</th>
        <th>QUANTIDADEPRODUTOS</th>
      
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: "{{url_for('notify.retorna_produtos_atualizados')}}",
        columns: [
          {data: 'Marca'},
          {data: 'QUANTIDADEPRODUTOS', searchable: true}
     
        ],
      });
    });
  </script>
{% endblock %}

